html {
  font-family: 'Roboto', sans-serif;
  color: #333333;
  background-color: #fafafa;
  width: 76vw;
  margin: auto;
}
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3em;
}

.emphasized {
  color: #2f80ed;
}

h2 {
  color: #2f80ed;
  font-size: 2.5em;
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }
}

main {
  min-height: 100vh;
}

footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
