nav {
  display: flex;
  align-items: center;
  margin-bottom: 15vh;
  margin-top: 3vh;
}

#logo {
  flex: 7;
  font-size: 3rem;
  font-weight: bold;
  color: #2f80ed;
}

nav .links {
  font-size: 1.5rem;
  flex: 3;
  justify-self: flex-end;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

nav .link {
  flex: 1;
}

nav .link:hover {
  font-weight: bolder;
}

nav .active {
  font-weight: bolder;
}

nav a {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 1000px) {
  #logo {
    flex: 2;
  }

  nav .links {
    font-size: 1.25rem;
    flex: 5;
  }
}
