

html {
	background: #EDF2FA;
}

body {
	font-family: 'Helvetica';
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.card {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	max-width: 33vw;
	background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.1875rem;
}

.intro {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1.5rem;
    max-width: 100%;
}

.mask {
    flex: 2;
    border-radius: 100%;
    overflow: hidden;
}

.profile-pic {
    max-width: 100%;
}

.contact {
    flex: 8;
    margin-left: 1.5rem;
}

.contact h1 {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

