@import './common.css';
@import './nav.css';

main {
  max-width: 50%;
}

@media only screen and (max-width: 640px) {
  .about {
    margin: auto;
    max-width: 75%;
  }
}

main p {
  font-size: 1.5rem;
}

ul {
  font-size: 1.5rem;
}

#contact-info {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0px;
  max-width: 50%;
}

#contact-info a {
  flex: 1;
}
