html {
  font-family: 'Roboto', sans-serif;
  color: #333333;
  background-color: #fafafa;
}
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3em;
}

.emphasized {
  color: #2f80ed;
}

h2 {
  font-size: 2.5em;
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }
}
