@import './common.css';
@import './nav.css';

nav {
  margin-bottom: 6vh;
}

.title-and-descriptor {
  margin-bottom: 5vh;
}

h1 {
  margin: 0;
  margin-bottom: 0.75vh;
}

.project-descriptor {
  font-size: 1.5em;
}

.featured-img-and-contributions {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.featured-image {
  flex: 1;
  object-fit: contain;
  margin-right: 5vw;
}

.contributions {
  flex: 8;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.contribution-title {
  font-size: 1.5em;
  font-weight: bold;
}
.contribution-list {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
  font-size: 1.25em;
}

section {
  max-width: 75%;
  margin: auto;
  margin-top: 5vh;
}

section h2 {
  margin: 0;
  margin-bottom: 0.75vh;
}

section p {
  font-size: 1.25em;
  margin: 0;
}

.screen-descriptors {
  margin: auto;
  margin-top: 32px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.screen-descriptor {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 16px;
  margin-right: 16px;
  align-items: center;
}
.screen-description {
  flex: 1;
  margin-top: 32px;
}

.screen-description > span {
  font-size: 24px;
  font-weight: 700;
}
.screen-description > ul {
  font-size: 18px;
  padding-left: 0;
}

.screen-description > ul > li {
  margin-top: 16px;
  list-style: none;
}

.screenshot {
  flex: 1;
}

.render {
  max-width: 100%;
  object-fit: contain;
}

.inset {
  max-width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.iframe-container {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  margin-top: 32px;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media only screen and (max-width: 640px) {
  .featured-img-and-contributions {
    flex-direction: column;
  }

  .featured-image {
    flex: 1;
    margin-right: 0;
  }

  .featured-image > img {
    max-width: 100%;
  }

  .contributions {
    flex-direction: row;
  }

  .contribution-title {
    font-size: 1.125em;
  }

  .contribution-list {
    font-size: 1em;
    padding-top: 16px;
    margin-bottom: 0px;
  }

  .screen-descriptors {
    flex-direction: column;
  }

  section {
    max-width: 100%;
  }

  .screenshot > img {
    max-height: 30vh;
  }

  .screen-description > span {
    font-size: 1.125em;
    font-weight: 700;
  }
  .screen-description > ul {
    font-size: 1em;
    padding-left: 0;
    margin-bottom: 16px;
  }
  
  .screen-description > ul > li {
    margin-top: 8px;
    list-style: none;
  }
  
}
